#title {
    background-color: #FFFFFF;
}

.mainImage-bored {
    height: auto;
    display: block;
    margin: 10% auto;
    width: 80%;
}

.slogan {
    font-family: 'Nunito', sans-serif;
    padding-top: 20%;
}

.brand-name {
    font-family: 'Signika', sans-serif;
}

::selection {
    background-color: #FFD24C;
}

.container-fluid {
    padding: 3% 15%;
    height: 100vh;
}

.download-button {
    padding-top: 5%;
}

.jonathan-poop {
    height: 15rem;
    width: auto;
}

.review-description {
    padding-top: 3rem;
}

.hoverColor:hover {
    color: #584a1a;
}

.dark-mode:not(navbar) {
    filter: invert(100%);
}

.icon-black {
    background-color: #FFD24C;
    border-radius: 10px;
}

.review-description {
    max-width: 50%;
    margin-right: 30%;
}

.jonathan-poop {
    max-width: fit-content;
    display: block;
    margin-left: 35%;
    margin-right: auto;
}

@media screen and (max-width : 1897px) {

    .container-fluid {
        padding: 3% 15%;
        height: 70vh;
    }

}
@media screen and (max-width : 1668px) {


    .review-description {
        margin: 0 auto;
    }

    .jonathan-poop {
        margin: 0 auto;
    }
}
@media screen and (max-width : 1536px) {


    .mainImage-bored{
        margin-top: 30%;
    }
}
@media screen and (max-width : 991px) {

    .container-fluid {
        padding: 3% 15%;
        height: 100vh;
    }

    .mainImage-bored{
        margin-top: 30%;
        width: auto;
    }


}
@media screen and (max-width : 914px) {


    .review-description {
        margin: 0 auto;
        width: auto;
    }

}
@media screen and (max-width : 760px) {


    .review-description {
        margin: 0 auto;
    }

    .jonathan-poop {
        margin: 0 auto;
    }
}