#title{
    background-color: #FFFFFF;
}

.mainImage-bored{
    height: auto;
    display: block;
    margin: 10% auto;
    width: 100%;
}

.slogan{
    font-family: 'Nunito', sans-serif;
    padding-top: 20%;
}

.brand-name{
    font-family: 'Signika', sans-serif;
}

::selection{
    background-color: #FFD24C;
}
.container-fluid{
    padding: 3% 15%;
    height: 100vh;
}
.download-button{
    padding-top: 5%;
}
.jonathan-poop{
    height: 15rem;
    width: auto;
}
.review-description{
    padding-top: 3rem;
}

.hoverColor:hover{
    color: #584a1a;
}